{
    "port": 8080,
    "filter": {
	"whitelist": "1.2.3.4/16",
	"blacklist": "0.0.0.0/32"
    },
    "db": {
	"host": "DB_HOST",
	"user": "DB_USER",
	"password": "DB_PASS"
    },
    "mail": {
	"transport": "smtp://smtp.example.com",
	"sender": "alice@example.com",
	"recipient": "bob@example.com"
    }
}
